@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root
{
	--brown: #5d534a;
	--pink: #d5ab9c;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Open Sans', sans-serif;
}
.container
{
	width: 375px;
	margin: 0 auto;
	background: #fbf0ec;
}
.container .home
{
	padding: 24px;
}
.container .home .couple
{
	width: 327px;
	background: #fff;
	text-align: center;
	color: var(--brown);
	padding: 24px 36px;
}
.container .home .couple .title p
{
	font-size: 14px;
}
.container .home .couple .title h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	margin: 8px 0 20px;
}
.container .home .couple .octagon img
{
	border: 1px solid var(--pink);
	border-radius: 50%;
	padding: 8px;
}
/*
.octagonal-wrapper
{
    transform: rotate(45deg);
}
.octagonal-wrapper,
.octagonal-wrapper .octagonal
{
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.octagonal-wrapper .octagonal
{
    transform: rotate(-45deg);
}
.octagonal-wrapper .octagonal .couple-image
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--pink);
	padding: 10px;
	border-radius: 5px;
}
*/
.container .home .couple .content
{
	font-size: 12px;
}
.container .home .couple .content p.salam
{
	font-weight: bold;
	margin: 20px 0 12px;
}
.container .home .timer
{
	display: flex;
	justify-content: space-between;
	margin: 24px 0 18px;
}
.container .home .timer .box
{
	width: 73px;
	height: 59px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--pink);
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	border-radius: 8px;
}
.container .home .timer .box p:first-child
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
}
.container .home .timer .box p
{
	font-size: 12px;
}
.container .home .qrcode-guestbook
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .home .qrcode-guestbook p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: var(--brown);
	margin-left: 10px;
}
.container .mempelai
{
	text-align: center;
	padding: 24px 45px;
}
.container .mempelai h2
{
	font-size: 20px;
	color: var(--brown);
}
.container .mempelai .card
{
	width: 285px;
	background: #fff;
	padding: 24px 28px;
}
.container .mempelai .card img
{
	border: 1px solid var(--pink);
	border-radius: 50%;
	padding: 8px;
}
.container .mempelai .card h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	color: var(--pink);
	margin: 20px 0 12px;
}