@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root
{
	--brown: #5d534a;
	--pink: #d5ab9c;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Open Sans', sans-serif;
	background: #e5e5e5;
}
.container
{
	width: 375px;
	margin: 0 auto;
	background: #fbf0ec;
}
.container .home
{
	position: relative;
	padding: 24px;
}
.flower-1, .flower-4, .flower-8,
.flower-12
{
	position: absolute;
	top: 0;
	left: 0;
}
.flower-2, .flower-6, .flower-10
{
	position: absolute;
	top: 0;
	right: 0;
}
.container .home .couple
{
	position: relative;
	background: #fff;
	text-align: center;
	color: var(--brown);
	padding: 24px 36px;
	z-index: 1;
}
.container .home .couple .title p
{
	font-size: 14px;
}
p
{
	line-height: 19.6px;
}
.container .home .couple .title h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	margin: 8px 0 20px;
}
.container .home .couple .octagon img
{
	border: 1px solid var(--pink);
	border-radius: 50%;
	padding: 8px;
}
/*
.octagonal-wrapper
{
    transform: rotate(45deg);
}
.octagonal-wrapper,
.octagonal-wrapper .octagonal
{
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.octagonal-wrapper .octagonal
{
    transform: rotate(-45deg);
}
.octagonal-wrapper .octagonal .couple-image
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--pink);
	padding: 10px;
	border-radius: 5px;
}
*/
.container .home .couple .content,
.container .home .timer .box p,
.container .mempelai .card p
{
	font-size: 12px;
	line-height: 16.8px;
}
.container .home .couple .content p.salam
{
	font-weight: bold;
	margin: 20px 0 12px;
}
.flower-3, .flower-7, .flower-11
{
	position: absolute;
	bottom: 0;
	left: 0;
}
.container .home .timer
{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 24px 0 18px;
	z-index: 1;
}
.container .home .timer .box
{
	width: 73px;
	height: 59px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--pink);
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	border-radius: 8px;
}
.container .home .timer .box p:first-child
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
}
.container .home .qrcode-guestbook
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.container .home .qrcode-guestbook p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: var(--brown);
	margin-left: 10px;
}
.container .mempelai
{
	position: relative;
	text-align: center;
	padding: 24px 45px;
}
.container h2.title
{
	position: relative;
	font-size: 20px;
	color: var(--brown);
	text-align: center;
	margin-bottom: 24px;
}
.container .mempelai .card
{
	position: relative;
	background: #fff;
	padding: 24px 28px;
	z-index: 1;
}
.container .mempelai .card:nth-child(3)
{
	margin-bottom: 88px;
}
.container .mempelai .card img.mempelai
{
	border: 1px solid var(--pink);
	border-radius: 50%;
	padding: 8px;
}
.container .mempelai .card h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	color: var(--pink);
	margin: 20px 0 12px;
}
.container .mempelai .card p
{
	color: var(--brown);
}
.container .mempelai .card .media-sosial
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
}
.container .mempelai .card .media-sosial p
{
	font-size: 10px;
	color: var(--brown);
	margin-left: 6px;
}
.container .mempelai .ayat
{
	position: relative;
	margin-top: 34px;
	font-style: italic;
	z-index: 1;
}
.container .mempelai .ayat p,
.container .rsvp p
{
	font-size: 14px;
	color: var(--brown);
}
.container .mempelai .ayat p:first-child
{
	margin-bottom: 18px;
}
.flower-5, .flower-9
{
	position: absolute;
	bottom: 0;
	right: 0;
}
.container .acara, .container .rsvp,
.container .love-story
{
	position: relative;
	background: #fff;
	padding: 24px 16px;
	text-align: center;
}
.container .acara .card
{
	position: relative;
	padding: 24px 32px;
	background: #fff;
	border: 1px solid var(--pink);
	z-index: 1;
}
.container .acara .card:nth-child(3)
{
	margin-bottom: 24px;
}
.container .acara .card h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	color: var(--pink);
	margin-bottom: 16px;
}
.container .acara .card .date-wrapper
{
	position: relative;
	height: 94px;
	padding: 24px;
}
.container .acara .card .date-wrapper img
{
	position: absolute;
	top: 0;
	transform: translateX(-50%);
}
.container .acara .card .date-wrapper h1
{
	position: relative;
	font-size: 40px;
	color: var(--brown);
}
.container .acara .card p
{
	color: var(--pink);
}
.container .acara .card p.hari-acara
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin: 24px 0 4px;
}
.ellipse
{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 14px;
	border-radius: 50%;
	background: var(--pink);
}
.container .acara .card .waktu-acara
{
	width: 140px;
	background: var(--pink);
	padding: 8px;
	margin: 12px auto 16px;
	font-size: 14px;
	color: #fff;
	border-radius: 8px;
}
.container .acara .card .lokasi-acara
{
	padding: 12px 24px;
	border: 1px solid var(--pink);
	border-radius: 10px;
}
.container .acara .card .lokasi-acara p
{
	font-size: 14px;
	color: var(--brown);
}
.container .acara .card .lokasi-acara p:first-child
{
	font-weight: bold;
	margin-bottom: 10px;
}
.container .lokasi
{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 16px;
}
.container .lokasi .peta img
{
	position: relative;
	border: 8px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 4px 20px rgba(72, 72, 72, 0.2);
	z-index: 1;
}
.container .lokasi button,
.container .rsvp .rsvp-form button
{
	background: var(--pink);
	padding: 10px 12px;
	margin-top: 16px;
	border: none;
	border-radius: 10px;
}
.container .lokasi button a,
.container .rsvp .rsvp-form button a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.container .rsvp h2
{
	margin-bottom: 12px;
}
.container .rsvp p
{
	width: 270px;
	margin: 0 auto;
}
.container .rsvp .rsvp-form
{
	margin-top: 24px;
}
.container .rsvp .rsvp-form .short-field
{
	display: flex;
	justify-content: space-between;
}
.container .rsvp .rsvp-form .short-field input
{
	width: 48%;
}
.container .rsvp .rsvp-form input,
.container .rsvp .rsvp-form select
{
	width: 100%;
	padding: 11px 12px;
	margin-bottom: 16px;
	border: 1px solid var(--pink);
	border-radius: 8px;
	outline: none;
}
.container .rsvp .rsvp-form input::placeholder,
.container .rsvp .rsvp-form select
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #acadae;
}
.container .rsvp .rsvp-form select
{
   appearance: none;
   margin-bottom: unset;
}
.container .rsvp .rsvp-form img
{
	position: absolute;
	bottom: 92px;
	right: 33px;
	z-index: 10;
}
.container .prokes
{
	position: relative;
	padding: 24px 16px;
}
.container .prokes .prokes-notice
{
	display: flex;
	justify-content: space-between;
}
.container .prokes .prokes-notice .prokes-card
{
	position: relative;
	width: 106px;
	height: 164px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0px 4px 20px rgba(72, 72, 72, 0.2);
	z-index: 1;
}
.container .prokes .prokes-notice .prokes-card p
{
	font-size: 14px;
	text-align: center;
	color: var(--brown);
}
.container .prokes .prokes-notice .prokes-card .cuci-tangan
{
	margin-top: 6px;
	margin-bottom: 35px;
}
.container .prokes .prokes-notice .prokes-card .gunakan-masker
{
	margin-bottom: 8px;
}
.container .prokes .prokes-notice .prokes-card .jaga-jarak
{
	margin-top: 17px;
	margin-bottom: 38px;
}