@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root
{
	--brown: #5d534a;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Open Sans', sans-serif;
}
.container
{
	width: 375px;
	margin: 0 auto;
	background: #fbf0ec;
}
.container .home
{
	padding: 24px;
}
.container .home .couple
{
	width: 327px;
	height: 464px;
	background: #fff;
	text-align: center;
	color: var(--brown);
}