@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root
{
	--brown: #5d534a;
	--pink: #d5ab9c;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Open Sans', sans-serif;
}
.container
{
	width: 375px;
	margin: 0 auto;
	background: #fbf0ec;
}
.container .home
{
	padding: 24px;
}
.container .home .couple
{
	background: #fff;
	text-align: center;
	color: var(--brown);
	padding: 24px 36px;
}
.container .home .couple .title p
{
	font-size: 14px;
}
.container .home .couple .title h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	margin: 8px 0 20px;
}
.container .home .couple .octagon img
{
	border: 1px solid var(--pink);
	border-radius: 50%;
	padding: 8px;
}
/*
.octagonal-wrapper
{
    transform: rotate(45deg);
}
.octagonal-wrapper,
.octagonal-wrapper .octagonal
{
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.octagonal-wrapper .octagonal
{
    transform: rotate(-45deg);
}
.octagonal-wrapper .octagonal .couple-image
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--pink);
	padding: 10px;
	border-radius: 5px;
}
*/
.container .home .couple .content
{
	font-size: 12px;
}
.container .home .couple .content p.salam
{
	font-weight: bold;
	margin: 20px 0 12px;
}
.container .home .timer
{
	display: flex;
	justify-content: space-between;
	margin: 24px 0 18px;
}
.container .home .timer .box
{
	width: 73px;
	height: 59px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--pink);
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	border-radius: 8px;
}
.container .home .timer .box p:first-child
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
}
.container .home .timer .box p
{
	font-size: 12px;
}
.container .home .qrcode-guestbook
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .home .qrcode-guestbook p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: var(--brown);
	margin-left: 10px;
}
.container .mempelai
{
	text-align: center;
	padding: 24px 45px;
}
.container h2.title
{
	font-size: 20px;
	color: var(--brown);
	text-align: center;
	margin-bottom: 24px;
}
.container .mempelai .card
{
	background: #fff;
	padding: 24px 28px;
}
.container .mempelai .card:nth-child(2)
{
	margin-bottom: 88px;
}
.container .mempelai .card img.mempelai
{
	border: 1px solid var(--pink);
	border-radius: 50%;
	padding: 8px;
}
.container .mempelai .card h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	color: var(--pink);
	margin: 20px 0 12px;
}
.container .mempelai .card p
{
	font-size: 12px;
	color: var(--brown);
}
.container .mempelai .card .media-sosial
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
}
.container .mempelai .card .media-sosial p
{
	font-size: 10px;
	color: var(--brown);
	margin-left: 6px;
}
.container .mempelai .ayat
{
	margin-top: 34px;
	font-style: italic;
}
.container .mempelai .ayat p
{
	font-size: 14px;
	color: var(--brown);
	line-height: 19.6px;
}
.container .mempelai .ayat p:first-child
{
	margin-bottom: 18px;
}
.container .acara
{
	background: #fff;
	padding: 24px 16px;
	text-align: center;
}
.container .acara .card
{
	padding: 24px 32px;
	border: 1px solid var(--pink);
}
.container .acara .card h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	color: var(--pink);
	margin-bottom: 16px;
}
.container .acara .card .date-wrapper
{
	position: relative;
	height: 94px;
	padding: 24px;
}
.container .acara .card .date-wrapper img
{
	position: absolute;
	top: 0;
	transform: translateX(-50%);
}
.container .acara .card .date-wrapper h1
{
	position: relative;
	font-size: 40px;
	color: var(--brown);
}
.container .acara .card p
{
	color: var(--pink);
}
.container .acara .card p.hari-acara
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin: 24px 0 4px;
}
.ellipse
{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 14px;
	border-radius: 50%;
	background: var(--pink);
}
.container .acara .card .waktu-acara
{
	width: 140px;
	background: var(--pink);
	padding: 8px;
	margin: 12px auto 16px;
	font-size: 14px;
	color: #fff;
	border-radius: 8px;
}
.container .acara .card .lokasi-acara
{
	padding: 12px 24px;
	border: 1px solid var(--pink);
	border-radius: 10px;
}
.container .acara .card .lokasi-acara p
{
	font-size: 14px;
	color: var(--brown);
}
.container .acara .card .lokasi-acara p:first-child
{
	font-weight: bold;
	margin-bottom: 10px;
}