@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
:root
{
	--brown: #5d534a;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Open Sans', sans-serif;
}
.container
{
	width: 375px;
	margin: 0 auto;
	background: #fbf0ec;
}
.container .home
{
	padding: 24px;
}
.container .home .couple
{
	width: 327px;
	height: 464px;
	background: #fff;
	text-align: center;
	color: var(--brown);
	padding: 24px 36px;
}
.container .home .couple .title p
{
	font-size: 14px;
}
.container .home .couple .title h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	margin: 8px 0 20px;
}
.octagon img
{
	border: 1px solid #d5ab9c;
	border-radius: 50%;
	padding: 8px;
}
/*
.octagonal-wrapper
{
    transform: rotate(45deg);
}
.octagonal-wrapper,
.octagonal-wrapper .octagonal
{
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.octagonal-wrapper .octagonal
{
    transform: rotate(-45deg);
}
.octagonal-wrapper .octagonal .couple-image
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #d5ab9c;
	padding: 10px;
	border-radius: 5px;
}
*/
.container .home .couple .content
{
	font-size: 12px;
}
.container .home .couple .content p.salam
{
	font-weight: bold;
	margin: 20px 0 12px;
}
.container .home .timer
{
	display: flex;
}
.container .home .timer .box
{
	width: 73px;
	height: 59px;
}