@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
:root
{
	--brown: #5d534a;
	--pink: #d5ab9c;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Open Sans', sans-serif;
	background: #e5e5e5;
}
.container
{
	width: 40vw;
	margin: 0 auto;
	background: #fbf0ec;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Style CSS - Open Invitation */
.container.open-inv .couple
{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	text-align: center;
	color: var(--brown);
}
.container.open-inv .couple .octagon
{
	margin-bottom: 30px;
}
.container.open-inv .couple .octagon img.leaves-3
{
	position: absolute;
	bottom: 22px;
	right: -24px;
}
.container.open-inv .couple .title h1
{
	margin-bottom: 16px;
}
.container.open-inv .couple .nama-penerima
{
	border: 1px solid var(--pink);
	border-radius: 10px;
	padding: 16px 24px;
	margin-bottom: 12px;
}
.container.open-inv .couple .nama-penerima p
{
	font-size: 12px;
	margin-bottom: 8px;
}
.container.open-inv .couple p.note
{
	width: 148px;
	font-size: 10px;
	margin-bottom: 8px;
	line-height: 14px;
}
.container.open-inv .couple button
{
	margin-bottom: 14px;
}
.container.open-inv .couple .popup_box
{
	width: 343px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	border: 1px solid #d3d3d3;
	border-radius: 20px;
	padding: 40px;
	transition: all 0.4s ease-in-out;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	z-index: 1000;
}
.container.open-inv .couple .popup_box img.close
{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.container.open-inv .couple .popup_box h3
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
.container.open-inv .couple .popup_box img.barcode
{
	border-radius: 8px;
	padding: 12px;
	margin: 32px 0 24px;
	box-shadow: 0px 4px 20px 0px rgba(72, 72, 72, 0.2);
}
.container.open-inv .couple .popup_box p
{
	width: 197px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.dark
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: #202020;
	opacity: 0.5;
	z-index: 100;
}

/* Style CSS - Undangan HTML */
.container .home
{
	position: relative;
	padding: 48px 48px 24px;
}
.flower-1, .flower-4, .flower-8,
.flower-12
{
	position: absolute;
	top: 0;
	left: 0;
}
.flower-2, .flower-6, .flower-10,
.flower-14
{
	position: absolute;
	top: 0;
	right: 0;
}
.container .home .couple
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	text-align: center;
	color: var(--brown);
	padding: 24px 36px;
	z-index: 1;
}
.container .couple .title p
{
	font-size: 14px;
}
p
{
	line-height: 19.6px;
}
.container .couple .title h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	margin: 8px 0 20px;
}
.container .couple .octagon
{
	position: relative;
	width: 167px;
}
.container .couple .octagon img.img-couple
{
	width: 167px;
	object-fit: cover;
	object-position: center;
}
.container .couple .octagon img.couple-border
{
	position: absolute;
	top: 0;
	transform: translateX(-100%);
}
.container .couple .octagon img.leaves-1
{
	position: absolute;
	top: -14px;
	left: -5px;
}
.container .couple .octagon img.leaves-2
{
	position: absolute;
	bottom: -6px;
	left: 74px;
}
.container .home .couple .content,
.container .home .timer .box p,
.container .mempelai .card p
{
	font-size: 12px;
	line-height: 16.8px;
}
.container .home .couple .content p.salam
{
	font-weight: bold;
	margin: 20px 0 12px;
}
.flower-3, .flower-7, .flower-11
{
	position: absolute;
	bottom: 0;
	left: 0;
}
.container .home .timer
{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 24px 0 18px;
	z-index: 1;
}
.container .home .timer .box
{
	width: 73px;
	height: 59px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--pink);
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	border-radius: 8px;
}
.container .home .timer .box p:first-child
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
}
.container .qrcode-guestbook
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	cursor: pointer;
}
.container .qrcode-guestbook p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: var(--brown);
	margin-left: 10px;
}
.container .mempelai
{
	position: relative;
	text-align: center;
	padding: 24px 64px;
}
.container h2.title
{
	position: relative;
	font-size: 20px;
	color: var(--brown);
	text-align: center;
	margin-bottom: 24px;
}
.container .mempelai .card
{
	position: relative;
	display: flex;
	background: #fff;
	padding: 24px 28px;
	z-index: 1;
}
.container .mempelai .card .mempelai-image
{
	position: relative;
	width: 156px;
}
.container .mempelai .card .mempelai-image img:first-child
{
	width: 156px;
	object-fit: cover;
	object-position: center;
	border: 1px solid var(--pink);
	border-radius: 50%;
	padding: 8px;
}
.container .mempelai .card .mempelai-image img.bunga-mempelai
{
	position: absolute;
	bottom: -15px;
	left: 73px;
}
.container .mempelai .card h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	color: var(--pink);
	margin: 20px 0 12px;
}
.container .mempelai .card p
{
	color: var(--brown);
}
.container .mempelai .card .media-sosial
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
}
.container .mempelai .card .media-sosial p
{
	font-size: 10px;
	color: var(--brown);
	margin-left: 6px;
}
.container .mempelai .liaison
{
	position: relative;
	margin: 16px 0;
}
.container .mempelai .liaison h1
{
	position: relative;
	font-family: 'Parisienne', cursive;
	font-size: 40px;
	font-weight: normal;
	color: var(--brown);
	z-index: 1;
}
.container .mempelai .liaison img,
.container .acara .card .date-wrapper img
{
	position: absolute;
	top: 0;
	transform: translateX(-50%);
}
.container .mempelai .ayat
{
	position: relative;
	margin-top: 34px;
	font-style: italic;
	z-index: 1;
}
.container .mempelai .ayat p,
.container .rsvp p, .container .wedding-gift p
{
	font-size: 14px;
	color: var(--brown);
}
.container .mempelai .ayat p:first-child
{
	margin-bottom: 18px;
}
.flower-5, .flower-9, .flower-13
{
	position: absolute;
	bottom: 0;
	right: 0;
}
.container .acara, .container .rsvp,
.container .love-story, .container .wedding-gift
{
	position: relative;
	background: #fff;
	padding: 24px 32px;
	text-align: center;
}
.container .acara .card
{
	position: relative;
	padding: 24px 32px;
	background: #fff;
	border: 1px solid var(--pink);
	z-index: 1;
}
.container .acara .card:nth-child(3)
{
	margin-bottom: 24px;
}
.container .acara .card h1
{
	font-family: 'Parisienne', cursive;
	font-weight: normal;
	color: var(--pink);
	margin-bottom: 16px;
}
.container .acara .card .date-wrapper
{
	position: relative;
	height: 94px;
	padding: 24px;
}
.container .acara .card .date-wrapper h1
{
	position: relative;
	font-size: 40px;
	color: var(--brown);
}
.container .acara .card p
{
	color: var(--pink);
}
.container .acara .card p.hari-acara
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin: 24px 0 4px;
}
.ellipse
{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 14px;
	border-radius: 50%;
	background: var(--pink);
}
.container .acara .card .waktu-acara
{
	width: 140px;
	background: var(--pink);
	padding: 8px;
	margin: 12px auto 16px;
	font-size: 14px;
	color: #fff;
	border-radius: 8px;
}
.container .acara .card .lokasi-acara
{
	padding: 12px 24px;
	border: 1px solid var(--pink);
	border-radius: 10px;
}
.container .acara .card .lokasi-acara p
{
	font-size: 14px;
	color: var(--brown);
}
.container .acara .card .lokasi-acara p:first-child
{
	font-weight: bold;
	margin-bottom: 10px;
}
.container .lokasi
{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 32px;
}
.container .lokasi .peta img
{
	position: relative;
	max-width: 100%;
	border: 8px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 4px 20px rgba(72, 72, 72, 0.2);
	z-index: 1;
}
.container.open-inv .couple button,
.container .lokasi button,
.container .rsvp .rsvp-form button,
.container .ucapan-doa button
{
	background: var(--pink);
	padding: 8px 12px;
	margin-top: 16px;
	border: none;
	border-radius: 10px;
}
.container.open-inv .couple button a,
.container .lokasi button a,
.container .rsvp .rsvp-form button a,
.container .wedding-gift .barcode-card .no-rek button a,
.container .ucapan-doa button a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.container .rsvp h2,
.container .wedding-gift h2
{
	margin-bottom: 12px;
}
.container .rsvp p
{
	width: 270px;
	margin: 0 auto;
}
.container .rsvp .rsvp-form
{
	margin-top: 24px;
}
.container .rsvp .rsvp-form .short-field
{
	display: flex;
	justify-content: space-between;
}
.container .rsvp .rsvp-form .short-field input
{
	width: 48%;
}
.container .rsvp .rsvp-form input,
.container .rsvp .rsvp-form select,
.container .ucapan-doa input,
.container .ucapan-doa textarea
{
	width: 100%;
	color: var(--brown);
	padding: 11px 12px;
	margin-bottom: 16px;
	border: 1px solid var(--pink);
	border-radius: 8px;
	outline: none;
}
.container .rsvp .rsvp-form input::placeholder,
.container .rsvp .rsvp-form select,
.container .ucapan-doa input::placeholder,
.container .ucapan-doa textarea::placeholder
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #acadae;
}
.container .rsvp .rsvp-form select
{
   appearance: none;
   margin-bottom: unset;
}
.container .rsvp .rsvp-form img
{
	position: absolute;
	bottom: 90px;
	right: 33px;
	z-index: 10;
}
.container .prokes, .container .galeri,
.container .ucapan-doa
{
	position: relative;
	padding: 24px 32px;
}
.container .prokes .prokes-notice
{
	display: flex;
	justify-content: space-between;
}
.container .prokes .prokes-notice .prokes-card
{
	position: relative;
	width: 106px;
	height: 164px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0px 4px 20px rgba(72, 72, 72, 0.2);
	z-index: 1;
}
.container .prokes .prokes-notice .prokes-card p
{
	font-size: 14px;
	text-align: center;
	color: var(--brown);
}
.container .prokes .prokes-notice .prokes-card .cuci-tangan
{
	margin-top: 6px;
	margin-bottom: 35px;
}
.container .prokes .prokes-notice .prokes-card .gunakan-masker
{
	margin-bottom: 8px;
}
.container .prokes .prokes-notice .prokes-card .jaga-jarak
{
	margin-top: 17px;
	margin-bottom: 38px;
}
.container .love-story .love-wrapper
{
	display: flex;
	align-items: center;
}
.container .love-story .love-wrapper .love-decoration
{
	position: relative;
	width: 31px;
	height: 31px;
	background: var(--pink);
	border-radius: 50%;
}
.container .love-story .love-wrapper .love-decoration::before
{
	position: absolute;
	top: 10px;
	left: 8px;
	content: '';
	width: 16px;
	height: 12px;
	background: url('img/love-icon.png');
	background-repeat: no-repeat;
	z-index: 10;
}
.container .love-story .love-wrapper .love-decoration::after
{
	position: absolute;
	top: 0;
	left: 15px;
	content: '';
	width: 2px;
	height: 180px;
	background: var(--pink);
	z-index: 1;
}
.container .love-story .love-wrapper.last .love-decoration::after
{
	display: none;
}
.container .love-story h4
{
	font-family: 'Parisienne', cursive;
	font-size: 20px;
	font-weight: normal;
	color: var(--pink);
	margin-left: 8px;
}
.container .love-story .love-card
{
	position: relative;
	width: 304px;
	background: #fff;
	display: flex;
	box-shadow: 0px 4px 20px rgba(72, 72, 72, 0.2);
	border-radius: 8px;
	padding: 8px;
	margin: 8px 0 16px 39px;
	z-index: 1;
}
.container .love-story .love-card.last
{
	margin-bottom: unset;
}
.container .love-story .love-card img
{
	width: 80px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;
}
.container .love-story .love-card .love-content
{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.container .love-story .love-card .love-content p
{
	font-size: 11px;
	color: #535962;
	line-height: 15.4px;
	margin-top: 4px;
	margin-left: 8px;
}
.container .galeri .galeri-foto img
{
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;
}
.container .galeri .galeri-foto .galeri-small
{
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}
.container .galeri .galeri-foto .galeri-small img
{
	width: 30%;
	height: 80px;
	object-fit: cover;
	object-position: center;
}
.container .wedding-gift .barcode-card
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 68px;
	margin-top: 24px;
	border: 1px solid var(--pink);
}
.container .wedding-gift .barcode-card img.barcode
{
	padding: 8px;
	margin: 32px 0;
	border-radius: 8px;
	box-shadow: 0px 4px 20px 0px rgba(72, 72, 72, 0.2);
}
.container .wedding-gift .barcode-card .no-rek
{
	display: flex;
	align-items: center;
	padding: 12px;
	border: 1px solid var(--pink);
	border-radius: 10px;
}
.container .wedding-gift .barcode-card .no-rek p
{
	width: 124px;
}
.container .wedding-gift .barcode-card .no-rek button
{
	background: var(--pink);
	padding: 8px;
	margin-left: 10px;
	border: none;
	border-radius: 8px;
}
.container .wedding-gift .barcode-card .no-rek button a
{
	font-weight: normal;
}
.container .ucapan-doa
{
	padding-bottom: 18px;
}
.container .ucapan-doa .ucapan-form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;
}
.container .ucapan-doa .ucapan-form textarea
{
	height: 124px;
	resize: none;
	margin-bottom: unset;
}
.container .ucapan-doa .ucapan-isi
{
	height: 360px;
	overflow: auto;
}
.container .ucapan-doa .ucapan-isi h4
{
	color: var(--brown);
}
.container .ucapan-doa .ucapan-isi p
{
	font-size: 12.8px;
	color: #acadae;
	line-height: 16.8px;
	margin: 8px 0 20px;
}
.container .footer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #303030;
	padding: 24px 86px;
	margin-bottom: 61px;
}
.container .footer p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	text-align: center;
}
.container .footer p:nth-child(2)
{
	margin-bottom: 18px;
}
.container .footer p span
{
	font-weight: bold;
}
.container .footer img:first-child
{
	margin-right: 28px;
}
.container .nav
{
	position: fixed;
	bottom: 0;
	width: 40vw;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	height: 61px;
	background: #fff;
	padding: 9px 1px 6px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
	z-index: 100;
}
.container .nav a
{
	text-decoration: none;
}
.container .nav div
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container .nav div p
{
	min-width: 53px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: 600;
	color: var(--brown);
	text-align: center;
	margin-top: 5px;
}

@media (max-width: 760px)
{
	.container, .container .nav
	{
		width: 100%;
	}
}

@media (max-width: 420px)
{
	.container .home
	{
		padding: 24px;
	}
	.container .mempelai
	{
		padding: 24px 32px;
	}
	.container .acara, .container .rsvp,
	.container .love-story, .container .wedding-gift,
	.container .lokasi, .container .prokes,
	.container .galeri, .container .ucapan-doa
	{
		padding: 24px 16px;
	}
	.container .love-story .love-card
	{
		width: calc(100% - 40px);
	}
	.container .love-story .love-wrapper .love-decoration::after
	{
		height: 200px;
	}
	.container .footer
	{
		padding: 24px 42px;
	}
}

@media (max-width: 360px)
{
	.container .home
	{
		padding: 24px 12px;
	}
	.container .mempelai
	{
		padding: 24px 32px;
	}
	.container .acara, .container .rsvp,
	.container .love-story, .container .wedding-gift,
	.container .lokasi, .container .prokes,
	.container .galeri, .container .ucapan-doa
	{
		padding: 24px 16px;
	}
	.container .love-story .love-card
	{
		width: calc(100% - 40px);
	}
	.container .love-story .love-wrapper .love-decoration::after
	{
		height: 200px;
	}
	.container .footer
	{
		padding: 24px 42px;
	}
}